models/ldm/stable-diffusion-v1/model.ckpt
*.pyc 
optimizedSD/__pycache__/optimUtils.cpython-38.pyc
logs/txt2img_gradio_logs.csv
logs/inpaint_gradio_logs.csv
logs/txt2img_logs.csv
outputs/inpaint-samples/a_beautiful_woman/seed_13006_00000.png
